accuracy.ipynb
bias.ipynb
comparison-estimators.ipynb
conversion-corr-into-bits.ipynb
degeneracy.ipynb
error-bars.ipynb
linear-information.ipynb
nonlinearity.ipynb
ranking.ipynb
scaling.ipynb
test_entropy_estimators.ipynb
README.md
